* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

* body #loader {
  background: #A8B8AD;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 670px) {
  * body #loader {
    position: fixed;
  }
}

* body #loader img {
  -webkit-animation: roted 3s linear infinite;
          animation: roted 3s linear infinite;
}

@-webkit-keyframes roted {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes roted {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

* body .lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 10px;
  margin-bottom: 150px;
  -webkit-animation: light 1.2s linear infinite;
          animation: light 1.2s linear infinite;
}

@media screen and (max-width: 670px) {
  * body .lettre {
    font-size: 60px;
  }
}

@-webkit-keyframes light {
  0% {
    color: #73E1E2;
    text-shadow: 0 0 7px #73E1E2;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #73E1E2;
    text-shadow: 0 0 7px #73E1E2;
  }
}

@keyframes light {
  0% {
    color: #73E1E2;
    text-shadow: 0 0 7px #73E1E2;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #73E1E2;
    text-shadow: 0 0 7px #73E1E2;
  }
}

* #container {
  opacity: 0;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 670px) {
  * #container {
    width: 400px;
  }
}

* #container header {
  height: 200px;
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #A8B8AD;
  margin-bottom: 5px;
  border-radius: 1%;
}

@media screen and (max-width: 670px) {
  * #container header {
    height: 100px;
    width: auto;
  }
}

* #container header img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 670px) {
  * #container header img {
    width: 100px;
    height: 100px;
    top: -20px;
    left: -10px;
  }
}

* #container header .nav {
  width: 100%;
  margin: auto;
}

* #container header .nav ul {
  list-style: none;
  max-height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

* #container header .nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px;
}

@media screen and (max-width: 670px) {
  * #container header .nav ul li {
    margin: 0  20px;
  }
}

* #container header .nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 670px) {
  * #container header .nav ul li a {
    font-size: 10px;
  }
}

* #container main {
  padding: 20px;
}

* #container main #slider1 {
  border: solid 1px black;
  max-width: 1200px;
  min-height: 400px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 670px) {
  * #container main #slider1 {
    min-height: 250px;
    width: 470px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

* #container main #slider1 img {
  max-width: 100%;
  display: none;
}

* #container main #slider1 img.active {
  display: block;
  -webkit-animation: fade 0.8s;
          animation: fade 0.8s;
}

@media screen and (max-width: 670px) {
  * #container main #slider1 img.active {
    height: 250px;
    width: 470px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* #container main #slider1 #precedent {
  cursor: pointer;
  display: block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  left: 0;
}

* #container main #slider1 #precedent:hover {
  opacity: 1;
}

* #container main #slider1 #suivant {
  cursor: pointer;
  display: block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  right: 0;
}

* #container main #slider1 #suivant:hover {
  opacity: 1;
}

* #container .apn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* #container .apn .apn1 {
  text-align: center;
  margin-top: 20px;
}

* #container .apn .apn1 img {
  width: 300px;
  height: 300px;
  float: left;
  margin: auto;
}

* #container .apn .apn1 p {
  padding-top: 40px;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin: auto;
  font-size: 25px;
}

@media screen and (max-width: 670px) {
  * #container .apn .apn1 p {
    font-size: 15px;
  }
}

* #container .apn .apn2 {
  text-align: center;
  margin-top: 20px;
}

* #container .apn .apn2 img {
  width: 300px;
  height: 300px;
  float: right;
}

* #container .apn .apn2 p {
  padding-top: 40px;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin: auto;
  font-size: 25px;
}

@media screen and (max-width: 670px) {
  * #container .apn .apn2 p {
    font-size: 15px;
  }
}

* #container .expertise {
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 400px;
}

* #container .expertise h1 {
  background-color: #74E2E3;
  margin: auto;
  width: 250px;
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px 0;
          box-shadow: 0 5px 5px 0;
}

* #container .expertise .icons {
  margin-top: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

* #container .expertise .icons p {
  text-align: center;
  margin-top: 20px;
}

* #container .expertise .iconexpe {
  border: solid 1px;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px 5px;
          box-shadow: 5px 5px 5px 5px;
  text-align: center;
  padding-top: 10px;
}

* #container .ref {
  text-align: center;
  margin-bottom: 20px;
}

* #container #slider2 {
  border: solid 1px black;
  max-width: 700px;
  min-height: 150px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  border-radius: 20px;
}

* #container #slider2 img {
  max-width: 17%;
}

* #container footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  background-color: #2e282A;
  color: white;
}

* #container footer .liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  list-style: none;
}

* #container footer .liste .reseaux {
  margin: 0 20px;
}
/*# sourceMappingURL=style.css.map */